root = true

# Global formatting settings
[*]
indent_style = space
indent_size = 4

[*.cs]
# Remove unused usings
dotnet_diagnostic.IDE0005.severity = warning

# Organize and sort usings
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
dotnet_diagnostic.IDE0024.severity = warning
