<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <NuGetLockFilePath>$(MSBuildProjectDirectory)/packages.publish.lock.json</NuGetLockFilePath>
    <PublishTrimmed>false</PublishTrimmed>
    <DebugType>embedded</DebugType>
    <DebugSymbols>true</DebugSymbols>
    <PublishDir>$(MSBuildProjectDirectory)/../../artifacts/publish/win-x64/</PublishDir>
  </PropertyGroup>
</Project>
